:root {
    --main-bg-color: black;
}

#Header_Container_Div {
    width: 100%;
    height: 100px;
    background-color: tomato;
    border-radius: 7px;
    display: flex;
}

#Header_Logo_Div {
    width: 50%;
    height: 100%;
}

#Header_Logo_Btn {
    width: 100px;
    height: 100%;
    border-radius: 7px;
    background-color: beige;
}

#Header_Btn_Div {
    width: 50%;
    height: 100%;
    border-radius: 7px;
    display: flex;
    flex-direction: row-reverse;
}

.Header_BtnStyle_Btn {
    width: 100px;
    height: 50%;
    margin-top: 20px;
    margin-right: 3%;
    border-radius: 7px;
    background-color: gray;
    color: white;
}

.Header_ChiefBtnStyle_Btn {
    width: 100px;
    height: 50%;
    margin-top: 20px;
    margin-right: 3%;
    border-radius: 7px;
    background-color: orange;
    color: white;
}