* {
    font-size: 17px;
}

/* :placeholder-shown {
    color: red;
} */

::placeholder {
    text-align: center;
}

#Index_Main_Container {
    background-color: dimgrey;
    width: 25%;
    height: 500px;
    margin: auto;
    margin-top: 30px;
    border-radius: 30px;
    display: flex;
}

#Index_Sub_Container {
    width: 85%;
    height: 85%;
    margin: auto;
    margin-top: 40px;
    /* background-color: aqua; */
    
}

#Index_InputBox_Container {
    margin-top: 7px;
}

#Index_Input_Id, #Index_Input_Pw, #Index_Input_Pwcheck, #Index_Input_Phonenumber {
    width: 98%;
    height: 50px;
    margin-top: 7px;
    border-radius: 12px;
    text-align: center;
}

#Index_RadioButtonBox_container {
    width: 98%;
    height: 50px;
    margin-top: 12px;
    border-radius: 12px;
    /* background-color: cadetblue; */
    display: flex;
    justify-content: space-between;
}


.Index_RadioButton_Container {
    width: 48%;
    text-align: center;
    border-radius: 10px;
}

.Index_RadioButton_Container input {
    display: none;
}

.Index_RadioButton_Container label {
    display: block;
    height: 50px;
    border-radius: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


 input[type=radio]+label {

    cursor: pointer;

    border: 1px solid #5a5656;
    text-align: center;

}

input[type=radio]+label {

    background-color: #fff;
    color: black;
}

input[type=radio]:checked+label{
    background-color: #5a5656;
    color: #fff;
}


#Index_InButtonBox_Container {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

#Index_InButtonBox_Container input {
    width: 48%;
    height: 50px;
    border-radius: 12px;
    background-color: bisque;
    margin-top: 20px;
}


