
#Schedule_Scheduler_Container {
    margin: 10%;
}

#Schedule_MainSchedule_Table {
    width: 85%;
    /* height: 700px; */
}

table tr th {
    background-color: burlywood;
    height: 40px;
}

table tr td {
    height: 90px;
}

table tr th:nth-child(1),table tr td:nth-child(1) {
    color: red;
}

table tr th:nth-child(7),table tr td:nth-child(7) {
    color: blue;
}

.Schedule_ScheduleDate_Td {
    background-color: bisque;
}

.Schedule_ScheduleDate_Td div {
    background-color: rgb(155, 161, 143);
    width: 100%;
    height: 80%;
}

